@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.newCardBorder {
  /* https://kovart.github.io/dashed-border-generator/ */
  border: none !important;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='36' ry='36' stroke='%234A5568' stroke-width='13' stroke-dasharray='15%2c41' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 36px;
}

.card-rect {
  border: 1px solid #e3e3e3;
}

:root {
  --text-incomplete: #c05621;
  --bg-incomplete: #feebc8;
  --text-complete: #2f855a;
  --bg-complete: #c6f6d5;
}

.theme-bg-incomplete {
  background-color: var(--bg-incomplete);
}
.theme-text-incomplete {
  color: var(--text-incomplete);
}

.theme-bg-complete {
  background-color: var(--bg-complete);
}
.theme-text-complete {
  color: var(--text-complete);
}
